<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Исправить родителей</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>

<header th:insert="/header :: header"></header>

<div>
    <h1>Исправить родителей</h1>
    <div th:if="${isError}" role="alert">
        [[${errorMessage}]]
    </div>
    <form th:action="${'/parents/edit/' + parents.getId()}" method="post">
        <input type="text" name="mother" placeholder="Имя мамы" th:value="${parents.getMother()}"><br>
        <input type="text" name="father" placeholder="Имя папы" th:value="${parents.getFather()}"><br>
        <select name="addressId">
            <option value="-1" th:selected="${parents.getAddress() == null}">Нет данных</option>
            <option th:each="address : ${addresses}" th:value="${address.getId()}"
                    th:selected="${parents.getAddress()?.getId() == address.getId()}">[[${address.getAddress()}]]
            </option>
        </select><br>
        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/><br>
        <button type="submit">Исправить родителей</button>
    </form>
</div>

</body>
</html>