<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Подробный список</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<header th:insert="/header :: header"></header>

<div>

    <div style="border:solid; width: 25%">
        <a href="/parents/add/">
            <button>Добавить родителей</button>
        </a>
    </div>

    <div th:each="parents : ${parents}" style="border:solid; width: 25%">
        <p th:if="${parents.getMother() != null}">
            Мать: [[${parents.getMother()}]]
        </p>
        <p th:if="${parents.getFather() != null}">
            Отец: [[${parents.getFather()}]]
        </p>
        <p th:if="${parents.getAddress() != null && parents.getAddress().getAddress() != null}">
            Адрес: [[${parents.getAddress().getAddress()}]]
        </p>
        <p th:if="${parents.getAddress() != null && parents.getAddress().getAddress() != null}">
            Район: [[${parents.getAddress().getDistrict().getId}]]
        </p>
        <p><a th:href="${'/parents/edit/' + parents.getId()}">Редактировать</a></p>

        <div th:each="child : ${parents.getChildren()}">
            <p>Ребенок: [[${child.getName()}]]</p>
            <p>Возраст: [[${child.getAge()}]]</p>
            <p>Номер школы: [[${child.getSchool() == null ? 'Не выбрана' : child.getSchool().getSchoolNumber()}]]</p>
            <p><a th:href="${'/children/' + child.getId()}">Поменять школу</a></p>
        </div>
        <a th:href="${'/children/add/' + parents.getId()}">
            <button>Добавить ребенка</button>
        </a>
    </div>
</div>

</body>
</html>