<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Родители</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<header th:insert="/header :: header"></header>

<div>
    <h1>Родители <a href="/parents/add/">
        <button>Добавить</button>
    </a></h1>
    <div th:each="parents : ${parents}">
        <p th:if="${parents.getMother() != null}">Мама: [[${parents.getMother()}]]</p>
        <p th:if="${parents.getFather() != null}">Папа: [[${parents.getFather()}]]</p>
        <p th:if="${parents.getAddress() != null && parents.getAddress().getAddress() != null}">Адрес
            проживания: [[${parents.getAddress().getAddress()}]]</p>
        <p>
            <a th:href="${'/parents/edit/' + parents.getId()}">Редактировать адрес проживания</a>
        </p>
        <div th:each="child : ${parents.getChildren()}">
            <div>Ребенок: [[${child.getName() + '; Возраст: ' + child.getAge()}]]</div>
            <div>Номер места учебы: [[${child.getSchool() == null ? 'Нет данных' :
                child.getSchool().getSchoolNumber()}]]
            </div>
            <p>
                <a th:href="${'/children/' + child.getId()}">Поменять учебное заведение</a>
            </p>
        </div>
        <br>
        <a th:href="${'/children/add/' + parents.getId()}"><button>Добавить ребенка</button></a>
    </div>
</div>

</body>
</html>