<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Адрес для ребенка</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>

<header th:insert="/header :: header"></header>

<div>
    <h1>Адрес для ребенка</h1>
    <div th:if="${isError}" role="alert">
        [[${errorMessage}]]
    </div>
    <form th:action="${'/children/' + child.getId()}" method="post">
        <select name="schoolId">
            <option value="-1" th:selected="${child.getSchool() == null}">Нет данных</option>
            <option th:each="school : ${school}"
                    th:value="${school.getId()}"
                    th:selected="${child.getSchool()?.getId() == school.getId()}">
                [[${school.getSchoolNumber()}]]
            </option>
        </select><br>
        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/><br>
        <button type="submit">Сохранить адрес</button>
    </form>
</div>

</body>
</html>