<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Авторизация</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<a href="/register">Зарегистрироваться</a>
<p>Вход</p>
<div th:if="${param.error}" role="alert">Неверно введён логин или пароль</div>
<div th:if="${param.logout}" role="alert">Успешно</div>
<form th:action="@{/login}" method="post">
    <div><input type="text" name="username" placeholder="Логин"></div>
    <div><input type="password" name="password" placeholder="Пароль"></div>
    <div><button type="login">login</button></div>
</form>
</body>
</html>