<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Dz2</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>


<header th:insert="/header :: header"></header>
<a href="/register">Зарегистрироваться</a>

<div>
    <h1>Вход</h1>
    <div th:if="${param.error}" role="alert">
        Неверно введён логин или пароль.
    </div>
    <div th:if="${param.logout}" role="alert">
        Успешно.
    </div>
    <form th:action="@{/login}" method="post">
        <input type="text" name="username" placeholder="Имя пользователя" class="form-control"><br>
        <input type="password" name="password" placeholder="Пароль" class="form-control"><br>
        <button type="login">Войти</button>
    </form>
</div>

</body>
</html>