<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Dz2</title>
</head>
<body>
<p>Регистрация</p>
<div th:if="${message}">
    [[${message}]]
</div>
<form th:action="@{/register}" method="post">
    <div><label> User Name : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="register"/></div>
</form>
</body>
</html>