<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Регистрация</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<a href="/login">Войти</a>
<p>Регистрация</p>
<div th:if="${message}">[[${message}]]</div>
<form th:action="@{/register}" method="post">
    <div><input type="text" name="username" placeholder="Логин"/></div>
    <div><input type="password" name="password" placeholder="Пароль"/></div>
    <div><input type="submit" value="register"/></div>
</form>
</body>
</html>